<!doctype html>
<html class="main" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">   
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}" >	
</head>
<body class="forall">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> 
    <div class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="/newcontact">New Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href=" /search ">Search Contact</a>
                </li>
            </div>
            </div>
        </nav>
    </div>  
    <div>
        {% block body %}
            
        {% endblock body %}
    </div> 
</body>
</html> 


